<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Downright Spotlight Importer</string>
	<key>CFBundleExecutable</key>
	<string>DownrightSpotlight</string>
	<key>CFBundleIdentifier</key>
	<string>com.ezzy.downright.spotlight</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DownrightSpotlight</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>E55A6D2B-5C76-4E83-9C13-6F4BF1D98D77</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>E55A6D2B-5C76-4E83-9C13-6F4BF1D98D77</string>
		</array>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>com.ezzy.downright.markdown</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
